# Chapter 3 - Structures that control flow

# 3.1 Relational and logical operators

In [8]:
# In Exercises 1 through 8, determine the output displayed.


print(chr(104)+chr(105))

print("C" + chr (35))

print("The letter before G is" , chr(ord("G")-1))

print(chr(ord("B")))
      
      
L = [17, 3, 12, 9, 10]
print(L)
L.sort()
print(L)
print("The first element is",L[0])

hi
C#
The letter before G is F
B
[17, 3, 12, 9, 10]
[3, 9, 10, 12, 17]
The first element is 3

In [9]:
# In Exercises 9 through 20, determine the output displayed. Assume the value of a is 2, and b is 3 and determine whether
# the condition evaluates to True or False.


a = 2
b = 3

print(3*a == 2*b)
print(b <= 3)
print(a**(5-2) > 7)
print((a < b) or (b < a))

True
True
True
True

# 3.2 Decision Structures

In [10]:
# Exercise 25. Restaurant tip. Write a program to determine how much to tip the server in a restaurant. The tip should be 
# 15%of th check with a minimum of $2

bill = eval(input("Enter the amount of bill: "))
tip_calculated = (bill*1.15) - (bill)
if tip_calculated > 2:
    tip = tip_calculated
else:
    tip = 2
    
print(bill, "The tip is:", round(tip,2))

Enter the amount of bill: 25.98
25.98 The tip is: 3.9

In [11]:
# Exercise 26. Cost of bagels. A bagel shop charges 75 cents per bagel for orders of less than a half dozen bagels,
# and 60 cents per bagel for orders of half dozen or more.Write a program that requests the number of bagels ordered and 
# displays the total cost.


order_amount_bagels = eval(input("Enter the amount of bagels: "))
if order_amount_bagels > 12:
    bagel_price = 0.75

else:
    bagel_price = 0.60

bill = order_amount_bagels*bagel_price 
print("Your bill is",round(bill,2), "because your ordered",order_amount_bagels,"bagels")

Enter the amount of bagels: 12
Your bill is 7.2 because your ordered 12 bagels

In [12]:
# Exercise 27. Cost of widgets. Astore sells widgets at 25 cents each for small orders or at 20 cents each for orders of 100 
# or more.Write a program that requests the number of widgets ordered and displays the total cost.



order_amount_widgets = eval(input("Enter the amount of widgets: "))
if order_amount_widgets > 100:
    widget_price = 0.20

else:
    widget_price = 0.25

bill = order_amount_widgets*widget_price 

print("Your bill is",round(bill,2), "because your ordered",order_amount_widgets,"widgets")

Enter the amount of widgets: 200
Your bill is 40.0 because your ordered 200 widgets

In [13]:
# Exercise 28. Cost of copies. A copy center charges 5 cents per copy for the first 100 copies and 3 cents per copy for 
# each additional copy. Write a program that requests the number of copies as input and displays the total cost.



order_amount_copies = eval(input("Enter the amount of copies: "))
excess_copies = order_amount_copies - 100
price1= 0.05
price2= 0.03

if order_amount_copies >= 100:
    bill = (100*price1) + (excess_copies*price2)

else:
    bill = order_amount_copies*0.05
     
print("Your bill is",round(bill,2), "because your ordered",order_amount_copies,"copies")

Enter the amount of copies: 125
Your bill is 5.75 because your ordered 125 copies

In [14]:
# Exercise 29. Quiz. Write a quiz program to ask "Who was the first Ronald Mac Donald?". The program should display
# "You are correct"if the answer is "Willard Scott" and "Nice try" for any other answer.


name = (input("Who was the first Ronald Mac Donald: "))

if name == "Willard Scott":
    print("You are correct")

else:
    print("Nice try")

Who was the first Ronald Mac Donald: Silvester Stalone
Nice try

In [15]:
# Exercise 30. Overtime pay. Federal law requires that hourly employees be paid "time and a half" for work in excess of 40 
# hours in a week.For example, if a person's hourly wage is $12 and he or she works 60 hours in a week, the person's gross 
# pay should be (40*12) + (1.5*12*(60-40)) = $ 840

time_served = eval(input("Enter amount of hours worked: "))
pay1 = eval(input("Enter hourly wage: "))
pay2 = (pay1) * (1.5)
excess_time = (time_served) - (40) 
                         
if time_served >= 40:
    gross_pay = (40*pay1) + (excess_time*pay2)

else:
    gross_pay = (40*pay1)
     
print("Your pay is",round(gross_pay,2), "because you worked",time_served,"hours")

Enter amount of hours worked: 60
Enter hourly wage: 12
Your pay is 840.0 because you worked 60 hours

In [16]:
# Exercise 31. Compute an average. Write a program that requests three scores as input and displays the average of the two 
# highest scores.


#Compute an average - Solution 1
number_1 = eval(input("Enter number 1: "))
number_2 = eval(input("Enter number 2: "))
number_3 = eval(input("Enter number 3: "))

L= [number_1,number_2,number_3]
print(L)
L.sort()
L.reverse()
print(L)
avg = (L[0]+L[1])/2
print("The average of the two highest scores is",avg)


#Compute an average - Solution 2
number_1 = eval(input("Enter number 1: "))
number_2 = eval(input("Enter number 2: "))
number_3 = eval(input("Enter number 3: "))

if number_1 > number_2 and number_2 > number_3:
    avg = ((number_1 + number_2)/2)
elif number_2 > number_3 and number_3 > number_1:
    avg = ((number_2+number_3)/2)

else: 
    avg = ((number_3 + number_1)/2)
print("The average of the two highest scores is",avg)

Enter number 1: 85
Enter number 2: 93
Enter number 3: 91
[85, 93, 91]
[93, 91, 85]
The average of the two highest scores is 92.0
Enter number 1: 85
Enter number 2: 93
Enter number 3: 91
The average of the two highest scores is 92.0

In [17]:
# Exercise 32.Pig latin.Write a program that requests a word in lower case letter as input and translates the word into 
# Pig latin. The rules for translating a word into Pig latin are as follows:
    
# If the word begins with a group of consonants, move them to the end of the word and add "ay". For instance, chip becomes
# ipchay.
# If the word begins with a vowel, add "way" to the end of the word. For instance, else becomes elseway. 
    


word = input("Enter a word: ")
#change_1
vowels = ['a','e','i','o','u']
def translate(word): 
    first = word[0]
#change_2
    if first in vowels: 
         word = word.lower()
         word = word + "way"   
         return word
    else: 
        word = word.lower()
#change_3
        for letter in word:
            if letter in vowels:
                index_value = word.index(letter)
                break
#change_4
        word = word[index_value:] + word [:index_value] + "ay" 
        return word 

print(translate(word))

Enter a word: chip
ipchay

In [18]:
# Exercise 33. Make change. A supermarket sells apples for $ 2.50 per pound. Write a cashiers program that request the
# number of pounds and the amount of cash tendered as input and displays the change for the transaction. If the cash is 
# not enough the message"You owe X more" should be displayed.  


amount_paid = eval(input("Enter amount paid: "))
pound_bought = eval(input("Enter pounds here: "))
bill = 2.50 * pound_bought
diff = amount_paid - bill



if amount_paid < bill:
    print(("You owe: ") + str(diff))

elif amount_paid > bill:
    print(("Here is your change: ") + str(diff))
    
else:
    print("Thanks for shopping")

Enter amount paid: 20
Enter pounds here: 6
Here is your change: 5.0

# 3.3 The While loop

In [19]:
#In Exercises 1 through 8, deterine the output displayed.

In [20]:
#Exercise 1
num = 3
while True:
    num = num *2
    if num > 15:
        break
print(num)

24

In [21]:
#Exercise 2

num = 3
while num < 15:
    num = num + 5
print(num)

18

In [22]:
#Exercise 3

total  = 0
num = 1
while True:
    total = total + num
    num = num + 1
    if num >=5:
        break
print(total, num)

10 5

In [23]:
#Exercise 4

total = 0
num = 1
while num < 5:
    total = total+num
    num = num + 1
print(total, num)

10 5

In [24]:
#Exercise 5

lista = [2,4,6,8]
total = 0

while lista != []:
    total = total +lista[0]
    lista = lista[1:]
    print(total, lista)

2 [4, 6, 8]
6 [6, 8]
12 [8]
20 []

In [25]:
#Exercise 6

oceans = ['Atlantic','Pacific','Indian','Artic','Antartic']

i = len(oceans) - 1

while i >= 0:
    if len(oceans[i]) < 7:
        del oceans[i]
    i = i -1
    print(",".join(oceans))             #Imprimiendo cada pasada por el loop

Atlantic,Pacific,Indian,Artic,Antartic
Atlantic,Pacific,Indian,Antartic
Atlantic,Pacific,Antartic
Atlantic,Pacific,Antartic
Atlantic,Pacific,Antartic

In [26]:
#Exercise 7

list1 = ['a','b','c','d']
i = 0
while True:
    print(list1[i])
    i = i+1
    if i == len(list1): 
        break

a
b
c
d

In [27]:
# Exercise 15. Tenperature conversion. Write a program that displays a Celsius to Fahrenheit conversion table. Entries 
# in the table should range from 10 t0 30 degrees celsius in increments of 5 degrees. The formula f = ((9/5)*c) + 32 converts
# celsius to fahrenheit.



print("Celsius","Fahrenheit")
celsius = 10

while celsius < 35:
    fahrenheit = ((9/5)*celsius)+ 32
    print(int(celsius),"    ", int(fahrenheit))
    celsius = celsius + 5

Celsius Fahrenheit
10      50
15      59
20      68
25      77
30      86

In [29]:
# Exercise 16. Bouncing ball. The coeffciient of restituition of a ball, a number between 0 and 1, specifies how much energy
# is conserved when the ball hits a rigid surface. A coefficient of 0.9 for instance means a bouncing ball will rise 90%
# of its previous height after each bounce.Write a rpgroma to input a coefficient and initial height in meters and reports 
# how many timesa ball bounces when dropped from its initial height before it rises to a height less than 10 centimeters.


height = 8
bounce = 0

while height > 0.1:
    height = (height * 0.7)
    bounce = bounce + 1
    print(round(height,2), bounce)
    
print("In", str(bounce),"bounces the ball will stop" )

5.6 1
3.92 2
2.74 3
1.92 4
1.34 5
0.94 6
0.66 7
0.46 8
0.32 9
0.23 10
0.16 11
0.11 12
0.08 13
In 13 bounces the ball will stop

In [30]:
#Exercise 17.Greatest Common divisor. 

M = eval(input("Enter M: "))
N = eval(input("Enter N: "))

T = 0 

while N > 0 :
    T = N
    N = M % N
    M = T
    

print("the greatest common divisor of M and N is ", str(T))

Enter M: 30
Enter N: 35
the greatest common divisor of M and N is  5

In [32]:
#Exercise 18. Factorization

N = eval(input("Enter a positive integer: "))

i=1

while(i <= N):
    count = 0
    if (N % i == 0):
        j = 1
        while(j <= i):
            if(i % j  == 0):
                count = count + 1
            j = j + 1
        if (count == 2):
            print(" %d is a prime factor of a given number %d" %(i,N))
    i = i + 1

Enter a positive integer: 2345
 5 is a prime factor of a given number 2345
 7 is a prime factor of a given number 2345
 67 is a prime factor of a given number 2345

In [42]:
#Exercise 19.Age.A person born in 1980 can claim"I will be x years old in the year squared" What is the value of x?

age = 0
year = 1980

while year < 2025:
    age = age + 1
    year = year + 1

print("I'll be", str(age),"years old in", str(year),"This means that", (str(age)), "square equals 2025")

I'll be 45 years old in 2025 This means that 45 square equals 2025

In [55]:
# Exercise 20. Population Growth. the world population reached 7 billionson in Oct 21,2011 and was growing at the rate of 
# 1.1% each year.Assuming that the population continues to grow at the same rate , approximately when will the population
# reach 8 billion?

population= 7000000000
year = 2011

while population < 8000000000:
    population = population +(population*0.011)
    year = year + 1

print("The populaton will be 8 billions in", str(year))

The populaton will be 8 billions in 2024

In [58]:
# Example 21. Radioactive decay. A radioactive element that is part of the fallout from nuclear explosions, has a half life
# of 28 years.This means that a given quantity will emit radioactive particles and decay to one half its size every 28 years.
# How many years are required for 100 grams to decay to less than 1 gr?

size = 100
time = 0
print("size time")

while size >= 1 and size <= 100:
    size = size/2
    time = time + 28
    print(round(size),"    ", time)

print("It will take", str(time), "years to have a size of 1 gr")

size time
50      28
25      56
12      84
6      112
3      140
2      168
1      196
It will take 196 years to have a size of 1 gr

In [59]:
# Exercise 22. Consumer price index. The consumer price index CPI indicates the average price of a fixed basket of goods 
# and services it is a customarily taken as a measure of inflation and is frequently used to adjust pensions.
# The CPI was 9.9 in July 1913, was 100 in July 1983 and was 238.25 in July 2014.This means that 9.90 in July 1913 had the 
# same purchasing power as 100 in July 1983 and the same purchasing power as 238.25 in July 2014. In 2009 the CPI fell for 
# the first time since 1955 however for most of the preceding 15 years it had grown at an average rate of 2.5% per year.
# Assuming that the CPI will rise at 2.5% per year in the future, in how many years will the CPI have at least doubled from
# its July 2013 level?
# Note: Each each year the CPI will be 1.025 times the CPI for the previous year. 

CPI = 238.25
time = 0

while CPI <= 476.5:
    CPI = CPI + (CPI*0.025)
    time = time + 1
    print(round(CPI), time)

print("the CPI will take", str(time), "years to double its level in 2014")

244 1
250 2
257 3
263 4
270 5
276 6
283 7
290 8
298 9
305 10
313 11
320 12
328 13
337 14
345 15
354 16
363 17
372 18
381 19
390 20
400 21
410 22
420 23
431 24
442 25
453 26
464 27
476 28
488 29
the CPI will take 29 years to double its level in 2014

In [65]:
# Exercise 23. Car Loan. When you borrow money to buy a house or a car the loan is paid off with a sequence of equal monthly
# payments with a stated annual interest rate compounded monthly. The amount borrowed is called the principal.If the annual 
# interest rate is 6% (or 0.06) then the monthly interest rate is (0.06/12) = 0.005. At anytime the balance of the loan is 
# the amount still owed.The balance at the end of each month is calculated as a balance at the end of the previous month 
# plus the interest due on that balance, and minus the monthly payment. For instance with an annual interest rate of 6%

# new balance = [previous balance] + 0.05*[previous balance] - [monthly payment]

# new balance = 1.005*[previous balance] - [monthly payment]

# suppose you borrow 15000 to buy a new car at 6% interest compounded monthly and your monthly payment is 290 after how  
# many months will the car be half paid off that is after how many months will the balance be less than half the amount 
# borrowed 

balance = 15000
time = 0
monthly = 290

while balance >= 7500:
    balance = balance+(0.005*balance) - (monthly)
    time = time + 1
    print(round(balance), time)

print("Half be paid off in", str(time), "months")

14785 1
14569 2
14352 3
14134 4
13914 5
13694 6
13472 7
13250 8
13026 9
12801 10
12575 11
12348 12
12120 13
11890 14
11660 15
11428 16
11195 17
10961 18
10726 19
10489 20
10252 21
10013 22
9773 23
9532 24
9290 25
9046 26
8801 27
8555 28
8308 29
8060 30
7810 31
7559 32
7307 33
Half be paid off in 33 months

In [67]:
# Exercise 24. Annuity. An annuity is a sequence of equal periodic payments. One type of annuity called a savings plan 
# consists of monthly payments into a savings account in order to generate money for a future purchase. Suppose you decide 
# to deposit 100 at the end of each month into savings account paying 3% interest compounded monthly,  the monthly interest 
# rate will be 0.03/12 (or 0.0025) and the balance in the account at the end of each month will be computed as 

# balance at the end of month = (1.0025)*[balance at the end of month] + 100

# After how many months will there be more than 3000 in the account 

balance = 0
time = 0
monthly = 100

print("balance time")

while balance <= 3000:
    balance = (1.0025*balance) + (monthly)
    time = time + 1
    print(round(balance),"  ", time)

print("At", str(time), "months you will have 3000 dollars in your account")

balance time
100    1
200    2
301    3
402    4
503    5
604    6
705    7
807    8
909    9
1011    10
1114    11
1217    12
1320    13
1423    14
1527    15
1630    16
1734    17
1839    18
1943    19
2048    20
2153    21
2259    22
2364    23
2470    24
2576    25
2683    26
2790    27
2897    28
3004    29
At 29 months you will have 3000 dollars in your account

In [69]:
# Exercise 25. Annuity.An annuity is a sequence of equal periodic payments. For one type of annuity a large amount of money
# is deposited into a bank account and then a fixed amount is withdrawn each month. Suppose you deposit 10000 into such an 
# account paying 3.6% interest compounded monthly and then withdraw 600 at the end of each month. The monthly interest rate 
# will be 0.036/12(or 0.03)and the balance in the account at the end of each month will be computed as 

# balance at the end of month = (1.003)*[balance at the end of month] - 600

balance = 10000
time = 0
monthly = 600
print("balance| time")

while balance >= 600:
    balance = (1.003*balance) - (monthly)
    time = time + 1
    print(round(balance),"  |   ", time)

print("At", str(time), "months, I will have only",str(round(balance,2)), "dollars in this account")

balance| time
9430   |    1
8858   |    2
8285   |    3
7710   |    4
7133   |    5
6554   |    6
5974   |    7
5392   |    8
4808   |    9
4222   |    10
3635   |    11
3046   |    12
2455   |    13
1863   |    14
1268   |    15
672   |    16
74   |    17
At 17 months, I will have only 73.91 dollars in this account

In [73]:
# Exercise 26. Radioactive decay. Carbon-14 is constantly produced in earth upper atmosphere due to interactions between 
# cosmic rays and nitrogen and is found in all plants and animals. After a plant or animal dies its amount of carbon 14 
# decreases by about 0.012% per year. Determine the half life of carbon-14, that is the number of years required for 1 
# gram of carbon-14 to the decay to less than 1/2 gram 

size = 1
time = 0


while size >= 0.5 and size <=1:
    size -= size*0.00012
    time = time + 1


print("It'll take", str(time), "years to decay to 1/2 gram")

It'll take 5776 years to decay to 1/2 gram

In [75]:
# Example 27. Same birthday as you.Suppose you are in a large lecture class with n  other students. Determine how large 
# n must be such that the probability that someone has the same birthday as you is greater than 50% . Note: forgetting about 
# leap years and so assuming 365 days in a year the probability that no one has the same birthday as you is (364/365)^n


students = 0

while (364/365)**students >= 0.5:
    students = students + 1
print("Starting", str(students), "students the probability of having the same birthday as me is more than 50%")

Starting 253 students the probability of having the same birthday as me is more than 50%

In [78]:
# Exercise 28. Annuity. Redo exercise 25 with the amount of money deposited being input by the user


balance = eval(input("Enter the amount:"))
time = 0
monthly = 600
print("balance | time")

while balance >= 600:
    balance = (1.003*balance) - (monthly)
    time = time + 1
    print(round(balance),"  |  ", time)

print("At", str(time), "months I will have",str(round(balance,2)), "dollars in this account")

Enter the amount:10000
balance | time
9430   |   1
8858   |   2
8285   |   3
7710   |   4
7133   |   5
6554   |   6
5974   |   7
5392   |   8
4808   |   9
4222   |   10
3635   |   11
3046   |   12
2455   |   13
1863   |   14
1268   |   15
672   |   16
74   |   17
At 17 months I will have 73.91 dollars in this account

In [81]:
# Exercise 29. Population Growth.In 2014 China's population was about 1.37 billion and growing at the rate of 0.51% per year
# In 2014 India's population was about 1.26 billion and growing at the rate of 1.35% per year. Determine when India's 
# population will surpass China's population. Assume that the 2014 growth rates will continue


pop_China = 1370000000
pop_India = 1260000000
year = 2014
print("year:   China   |   India")
while pop_China >= pop_India:
    pop_China = pop_China + (pop_China*0.0051)
    pop_India = pop_India + (pop_India*0.0135)
    year = year + 1
    print(year,round(pop_China),round(pop_India))

year:   China   |   India
2015 1376987000 1277010000
2016 1384009634 1294249635
2017 1391068083 1311722005
2018 1398162530 1329430252
2019 1405293159 1347377561
2020 1412460154 1365567158
2021 1419663701 1384002314
2022 1426903986 1402686345
2023 1434181196 1421622611
2024 1441495520 1440814516
2025 1448847147 1460265512

In [84]:
# Exercise 30. Cooling.Newton's law of cooling states that when a hot liquid is placed in a cool room each minute the 
# decrease in the temperature is approximately proportional to the difference between the liquid temperature and the room 
# temperature. That is, there is a constant K such that each minute the temperature loss is (k*(liquid temp - room temp))
# Suppose a cup of 212 F of coffee is placed in a 70 F.  
# Determine the number of minutes required for the coffee to cool below 150 Fahrenheit 


temp_liquid = 212
temp_room = 70
k = 0.079
time = 0
print("temperature","minutes")

while temp_liquid >= 150:
    temp_liquid = (temp_liquid)-k*(temp_liquid - temp_room)
    time = time + 1
    print(round(temp_liquid),"         ",time)

print("The time that will take lower to 150F is", str(time), "minutes")

temperatura minutos
201           1
190           2
181           3
172           4
164           5
157           6
150           7
The time that will take lower to 150F is 7 minutes

# 3.4 The For loop

In [112]:
# Exercise 51: Radioactive decay. Cobalt 60 and radioactive form of cobalt used in cancer therapy decays over a period of 
# time.Each year 12% of the amount present at the beginning of the year will have decayed. If a container of cobalt 60 
# initially contains 10 grams determine the amount remaining after five years. Round the amount remaining to two decimal 
# places 

weight = 10
rate = 0.12


print("year","weight")
for year in range(1,6):
    weight = weight - (weight*rate)
    print(year," ",round(weight,2))

year weight
1   8.8
2   7.74
3   6.81
4   6.0
5   5.28

In [113]:
#Exercise 52: Phone number. Remove the dashes from a telephone number input by the user

num = list(input("Enter your phone number with dashes:"))

list1 = []


for n in num:
    list1.append(n.replace("-",""))
    
print(("").join(list1))

Enter your phone number with dashes:713-894-2104
7138942104

In [114]:
#Exercise 53: Vowels.Count the number of vowels in a phrase input by the user

phrase = list(input("Enter a phrase: "))

for elements in frase:
    phrase.count("a")
    phrase.count("e")
    phrase.count("i")
    phrase.count("o")
    phrase.count("u")

print("Vowels = ", phrase.count("a")+phrase.count("e")+phrase.count("i")+phrase.count("o")+phrase.count("u"))

Enter a phrase: Less is more
Vowels =  4

In [115]:
#Exercise 54: largest number. Find the largest of three numbers obtained from the user

num_1 = input("Enter the first number: ")
num_2 = input("Enter the second number: ")
num_3 = input("Enter the third number: ")
list1 = [num_1,num_2,num_3]
print(list1)

for i in list1:
    if num_1 > num_2:
        largest_number = num_1
    elif num_2 > num_3:
        largest_number = num_2
    else:
        largest_number = num_3
        
print("The largest number is",largest_number)

Enter the first number: 3.4
Enter the second number: 9.3
Enter the third number: 5.5
['3.4', '9.3', '5.5']
The largest number is 9.3

In [95]:
#Exercise 55: Sum of fractions. Find the value of 1/1 + 1/2 + 1/3 + 1/4 hasta 1/100 to 5 decimal places

total = 0

for i in range(1,101):
    total = total + (1/i)
    
print(round(total,5))

5.18738

In [96]:
#Exercise 56. Sum of numbers. Find the sum of the first 100 positive integers

total = 0
for i in range(1,101):
    total = total + i
print(total)

5050

In [116]:
# Exercise 57. Alphabetical order. Accept a word as input and determine if its letter are in alphabetical order. 
# Some examples of words whose letters are in alphabetical order or biopsy, adapt,chintz and lost. 

#solution 1

word = input("Enter a word: ")
first_letter = ""
second_letter = ""
flag = True

for letter in range(0,len(word) - 1):
    first_letter = word[letter]
    second_letter = word[letter+1]
    if first_letter > second_letter:
        flag = False
        
if flag:
    print ("The word is ordered alphabetically")
else:
    print("The word is not ordered alphabetically")

Enter a word: almost
The word is ordered alphabetically

In [98]:
# Exercise 57. Alphabetical order. Accept a word as input and determine if its letter are in alphabetical order. 
# Some examples of words whose letters are in alphabetical order or biopsy, adapt,chintz and lost. 

#solution2:

word = (input("Enter your word here: ")).lower()
#word_list = list(word)
#print(word_list)

for n in range(len(word)):
    if n == (len(word) - 1):
        print("Alphabetically ordered")
    else:
        if ord(word[n]) > ord(word[n+1]):
            print("Not alphabetically ordered")
            break

Enter your word here: education
Not alphabetically ordered

In [117]:
# Exercise 58: Vowel words. A vowel word is a word that contains every vowel. Some examples of vowel words are 
# sequoia and dialogue. Determine if a word input by the user is a vowel word 

word = list(input("Ingrese su palabra aca: "))

for letter in word:
    if "a" and "e" and "i" and "o" and "u" in word:
        flag = True
    else:
        flag = False
        
if flag == True:
    print("This word has all the vowels")

else:
    print("This word does not have all the vowels")

Ingrese su palabra aca: sequoia
This word has all the vowels

In [129]:
#Exercise 59: Lifetime Earnings.Estimate how much a young worker will earn before retiring at age 65 where the workers name 
# age and starting salary are input by the user. assume the worker receive a 5% raise each year.

name = input("Enter name: ")
age = int(input("Enter age: "))
monthly = int(input("Enter initial salary: "))

time = int(65 - age)

cum_balance= 0

print("year", "cumulative earnings")

for i in range(1,time+1):
    
    cum_balance = (monthly) + (cum_balance)
    
    monthly = (monthly) + (monthly*0.05)
    time = time + 1
    
    print(i,"  ",round(cum_balance,1))

print("When",name,"is 65,",i, "years would have passed and will have ",round(cum_balance,1), "of lifetime earnings")

Enter name: helen
Enter age: 20
Enter initial salary: 1000
year cumulative earnings
1    1000
2    2050.0
3    3152.5
4    4310.1
5    5525.6
6    6801.9
7    8142.0
8    9549.1
9    11026.6
10    12577.9
11    14206.8
12    15917.1
13    17713.0
14    19598.6
15    21578.6
16    23657.5
17    25840.4
18    28132.4
19    30539.0
20    33066.0
21    35719.3
22    38505.2
23    41430.5
24    44502.0
25    47727.1
26    51113.5
27    54669.1
28    58402.6
29    62322.7
30    66438.8
31    70760.8
32    75298.8
33    80063.8
34    85067.0
35    90320.3
36    95836.3
37    101628.1
38    107709.5
39    114095.0
40    120799.8
41    127839.8
42    135231.8
43    142993.3
44    151143.0
45    159700.2
When helen is 65, 45 years would have passed and will have  159700.2 of lifetime earnings

In [118]:
# Exercise 60. Simple vs compound interest.
# When $1000 is invested at 5% simple interest the amount grows by $50.00 each year. When money is invested at 5% interest 
# compounded annually the amount at the end of each year is 1.05 times the amount at the beginning of that year. Display 
# the amounts after the first four years for a 1000 investment at 5% simple and compounded interest 


investment = 1000

print("year",  "simple interest")

for i in range(1,5):
    investment = investment + 50
    print(i,investment)
    i = i+1    

print("===============")

print("ano",  "interes compounded")
investment = 1000

for i in range(1,5):
    investment = investment + (investment*0.05) 
    print(i,investment)
    i = i+1

year simple interest
1 1050
2 1100
3 1150
4 1200
===============
ano interes compounded
1 1050.0
2 1102.5
3 1157.625
4 1215.50625

In [119]:
# Exercise 61. Car loan. Consider the car loan discussed in exercise 23 of section 3.3 The loan will be paid off after five 
# years. Assume that the car was purchased at the beginning of January 2013 and displayed the balance at the end of each 
# year for five years.Note: the last payment will be slightly less than the other payments since otherwise the final balance
# will be a negative amount 

balance = 15000
year = 2012


print("year", "balance")
for i in range(1,60):                            #loop es en meses, pagos y formulas son en meses
    
    balance = (1.005*balance) - (290)
    if i % 12 == 0:
        year = year + 1
        print(year,round(balance,2))
        
print(year + 1,"0.00")

year balance
2013 12347.85
2014 9532.13
2015 6542.74
2016 3368.97
2017 0.00

In [120]:
# Exercise 62.Annuity.Refer to the annuity discussed in exercise 24 of section 3.3.Assume that the first deposit is made at 
# the end of January 2014 and display the balance in the account at the end of each year from 2014 to 2018 

balance = 0
year = 2013


print("year", "balance")
for i in range(1,72):                            #loop es en meses, pagos y formulas son en meses
    
    balance = (1.0025*balance) + (100)
    if i % 12 == 0:
        year = year + 1
        print(year,round(balance,2))

year balance
2014 1216.64
2015 2470.28
2016 3762.06
2017 5093.12
2018 6464.67

In [121]:
#Exercise 63. Average grade.Ask the user to enter three grades and then compute the average after dropping the lowest grade 

num_1 = eval(input("Ingrese el primer numero: "))
num_2 = eval(input("Ingrese el segundo numero: "))
num_3 = eval(input("Ingrese el tercer numero: "))
list1 = [num_1,num_2,num_3]
print(list1)


for i in list1:
    sorting = list1.sort()
    
list_new = list1[1:3] 
print(list_new)

print("the 2 highest numbers are: ", list_new[0],"and",list_new[1], "and their average is:", round(sum(list_new)/2))

Ingrese el primer numero: 2
Ingrese el segundo numero: 3
Ingrese el tercer numero: 5
[2, 3, 5]
[3, 5]
the 2 highes numbers are:  3 and 5 and their average is: 4

In [109]:
#In exercises 1 through 8 determine the sequence generated by the range function 

#1):
for i in range(7,11):
    print(i)

#2):
print("===")
for i in range(-11,-7):
    print(i)

#3):
print("===")
for i in range(2,14,3):
    print(i)

#4):
print("===")
for i in range(2010,2030,5):
    print(i)

#5):
print("===")
for i in range(6):
    print(i)

#6):
print("===")
for i in range(1):
    print(i)

#7):
print("===")
for i in range(11,7,-1):                               #Step in reverse
    print(i)

#8):
print("===")
for i in range(12,2,-5):                               #Step in reverse
    print(i)

7
8
9
10
===
-11
-10
-9
-8
===
2
5
8
11
===
2010
2015
2020
2025
===
0
1
2
3
4
5
===
0
===
11
10
9
8
===
12
7

In [106]:
#In exercises 9 through the 16 determine a range function that generates the sequence of numbers 

#9): 4,9,14,19

for i in range(4,20,5):
    print(i)

#10): 0,1,2,3
print("===")
for i in range(0,4):
    print(i)

#11): -21,-20-19,-18
print("===")
for i in range(-21,-17):
    print(i)

#12): 4,3,2,1
print("===")
for i in range(4,0,-1):              #Step in reverse
    print(i)

#13): 20,17,14                      #Step in reverse
print("===")
for i in range(20,13,-3):
    print(i)

#14): 7
print("===")
for i in range(7,8):
    print(i)

#14): 5, 4, 3, 2, 1, 0              #Step in reverse
print("===")
for i in range(5,-1,-1):                             
    print(i)

#16): -5, -3, -1, 1       
print("===")
for i in range(-5,2,2):                             
    print(i)

4
9
14
19
===
0
1
2
3
===
-21
-20
-19
-18
===
4
3
2
1
===
20
17
14
===
7
===
5
4
3
2
1
0
===
-5
-3
-1
1