In [1]:
                                          # FOR LOOPS examples:

#Creando lista de loop
[x * x for x in range(-3,3)]

[9, 4, 1, 0, 1, 4]

In [ ]:
#forma mas tradicional de hacer este loop sin que sea una lista

x = -3
for x in range(-3,3):
    x = x*x
    print(x)

In [1]:
#Example 1: Squares. Genere el cuadrado de la secuencia 2,3,4,5.

for i in range(2,6):
    print(i,i**2)

2 4
3 9
4 16
5 25

In [2]:
#Example 2: Population Growth. Si la poblacion es 300mil en el 2014 y crece a un 3%, cuanto sera hasta el 2018?

poblacion = 300000

print("2014", poblacion)

for ano in range(2015,2019):
    poblacion = (poblacion) + (poblacion*0.03)
    print(ano, round(poblacion))

2014 300000
2015 309000
2016 318270
2017 327818
2018 337653

In [3]:
#Example 3: Savings Account.Calcule el balance en la cuenta de ahorro para cuarto(Q) del ano. Si empieza con un deposito de
# 1000 doalres y la tasa de interes es 3% n=anual compuesta. Rijase por la ecuacion de balance abajo.

deposito = 1000
tasa = 0.03
balance = 0

print("mes balance")
for meses in range(3,13,3):
    balance = deposito*((1+(tasa/12))**meses)
    print(meses," ",round(balance,2))

mes balance
3   1007.52
6   1015.09
9   1022.73
12   1030.42

In [4]:
#Example 4: Multiplication table. Haga un nested for loop de tal manera que saque la tabla de multiplicar del 1-5

for numero_exterior in range(1,6):
    for numero_interior in range(1,6):
        print(numero_exterior,"x",numero_interior," = ",(numero_exterior*numero_interior),"\t",end = "")
    
    print()             #Separo en bloques iterativos y el "\t,end="" horizontalizo las tablas

1 x 1  =  1 	1 x 2  =  2 	1 x 3  =  3 	1 x 4  =  4 	1 x 5  =  5
2 x 1  =  2 	2 x 2  =  4 	2 x 3  =  6 	2 x 4  =  8 	2 x 5  =  10
3 x 1  =  3 	3 x 2  =  6 	3 x 3  =  9 	3 x 4  =  12 	3 x 5  =  15
4 x 1  =  4 	4 x 2  =  8 	4 x 3  =  12 	4 x 4  =  16 	4 x 5  =  20
5 x 1  =  5 	5 x 2  =  10 	5 x 3  =  15 	5 x 4  =  20 	5 x 5  =  25

In [5]:
#Example 5: Triangle of Asterisks. Haga un nested for loop de tal manera que saque un tringulo de asteriscos


for elementos in range(1,6):
    print(elementos*"*")

*
**
***
****
*****

In [6]:
#Example 6: Reverse letters. Este programa requiere que el usuario ingrese una palabra. El programa crea una nueva palabra
# la cual es la inversa a la ingresada. para esto, toma la primera letra y luego va pegando cada siguiente letra delante de
# la anterior


palabra = input("Ingrese una palabra: ")
palabra_alreves = ""

for letras in palabra:
    palabra_alreves = letras + palabra_alreves

print(palabra_alreves)

Ingrese una palabra: dios
soid

In [7]:
#Example 7: R months. Este programa muestra los meses que contienen nombres con la letra "r"


meses = ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")

for mes in meses:
    print(mes.__contains__("r"),mes)

print("============================================")

meses = ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")

for mes in meses:
    if ("r") in mes:
        print(mes)

True Enero
True Febrero
True Marzo
True Abril
False Mayo
False Junio
False Julio
False Agosto
True Septiembre
True Octubre
True Noviembre
True Diciembre
============================================
Enero
Febrero
Marzo
Abril
Septiembre
Octubre
Noviembre
Diciembre

In [8]:
#Example 8: Abbreviate months. Reemplace el nombre de cada mes con la abreviacion de sus 3 primeras letras

meses = ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre")

for mes in meses:
    print(mes[0:3])

Ene
Feb
Mar
Abr
May
Jun
Jul
Ago
Sep
Oct
Nov
Dic

In [9]:
#Example 9: Deck of cards. Mazo de cartas.
# Este programa muestra las 52 cartas de un mazo. Se usa un loop para el valor de la carta y otro para la pinta.


valores = ["2","3","4","5","6","7","8","9","10","Jocker","Rey","Reina","A"]
pintas = ["trebol","diamante","corazon rojo","corazon negro"]

for valor in valores:
    for pinta in pintas:
        print(valor,pinta,"\t",end ="     " )
    
    print()             #Separo en bloques iterativos y el "\t,end="" horizontalizo las tablas

2 trebol 	     2 diamante 	     2 corazon rojo 	     2 corazon negro
3 trebol 	     3 diamante 	     3 corazon rojo 	     3 corazon negro
4 trebol 	     4 diamante 	     4 corazon rojo 	     4 corazon negro
5 trebol 	     5 diamante 	     5 corazon rojo 	     5 corazon negro
6 trebol 	     6 diamante 	     6 corazon rojo 	     6 corazon negro
7 trebol 	     7 diamante 	     7 corazon rojo 	     7 corazon negro
8 trebol 	     8 diamante 	     8 corazon rojo 	     8 corazon negro
9 trebol 	     9 diamante 	     9 corazon rojo 	     9 corazon negro
10 trebol 	     10 diamante 	     10 corazon rojo 	     10 corazon negro
Jocker trebol 	     Jocker diamante 	     Jocker corazon rojo 	     Jocker corazon negro
Rey trebol 	     Rey diamante 	     Rey corazon rojo 	     Rey corazon negro
Reina trebol 	     Reina diamante 	     Reina corazon rojo 	     Reina corazon negro
A trebol 	     A diamante 	     A corazon rojo 	     A corazon negro

In [10]:
#Example 10: U.S. Presidents.  El archivo USPres.txt tiene los nombres y apellidos de los 45 presidentes de US en el orden
# en el cual ejercieron. Este programa pide ingresar un nombre y luego muestra los presidentes con ese nombre.La variable
# hay_banderita nos indicarasi al menos 1 presidente tiene ese nombre.

nombre = input("Ingrese el nombre del presidente: ")
hay_banderita = False

archivo = open("USPres.txt", "r")                    #Abrir el archivo txt en el mimso directorio donde se guardo

for cada_linea in archivo:
    if cada_linea.startswith(nombre + ""):
        print(cada_linea.rstrip())
        hay_banderita = True

archivo.close()
if not hay_banderita:
    print("Ningun presidente tiene el nombre", nombre)

Ingrese el nombre del presidente: john
Ningun presidente tiene el nombre john

In [11]:
#Example 11: Last line of file. Muestre la ultima linea de un archivo.Despues de que la iteracion haya pasado por todas
#las lineas del archivo, lo que queremos es solo ver la ultima linea. Para esto se usa el "pass"


archivo = open("aFile.txt","r")

for cada_linea in archivo:
    pass
print(cada_linea.rstrip())
archivo.close()

This new constitution officially changed the name of the country to Republica Bolivariana de Venezuela.

In [12]:
#Example 51: Radioactive decay. Un quimico decae 12% anual. Su peso inciial es 10 gramos. Cuanto pesara al quinto ano?

peso = 10
tasa = 0.12


print("ano","peso")
for ano in range(1,6):
    peso = peso - (peso*tasa)
    print(ano," ",round(peso,2))

ano peso
1   8.8
2   7.74
3   6.81
4   6.0
5   5.28

In [13]:
#Example 52: Phone number. Elimine los guiones de un numero de telefono ingresado por el usuario

numero_telefonico = list(input("Ingrese su numero de telefono con guiones:"))

nueva_lista = []


for numeros in numero_telefonico:
    nueva_lista.append(numeros.replace("-",""))
    
print(("").join(nueva_lista))

Ingrese su numero de telefono con guiones:713-894-2104
7138942104

In [50]:
#Example 53: Vowels. Cuente el numero de vocales en la frase ingresada por el usuario

frase = list(input("Ingrese su frase aca: "))

for elementos in frase:
    frase.count("a")
    frase.count("e")
    frase.count("i")
    frase.count("o")
    frase.count("u")

print("Cantidad de vocales = ", frase.count("a")+frase.count("e")+frase.count("i")+frase.count("o")+frase.count("u"))

Ingrese su frase aca: less is more
Cantidad de vocales =  4

In [15]:
#Example 54: largest number. Sin usar listas, consiga el numero mayor de 3 numeros ingresados por el usuario.

#Aca tuve que usar listas

num_1 = input("Ingrese el primer numero: ")
num_2 = input("Ingrese el segundo numero: ")
num_3 = input("Ingrese el tercer numero: ")
lista = [num_1,num_2,num_3]
print(lista)

for i in lista:
    if num_1 > num_2:
        valor_mayor = num_1
    elif num_2 > num_3:
        valor_mayor = num_2
    else:
        valor_mayor = num_3
        
print(valor_mayor)

Ingrese el primer numero: 3
Ingrese el segundo numero: 4
Ingrese el tercer numero: 5
['3', '4', '5']
5

In [16]:
#Example 55: Sum of fractions. Encuentre el valor total de 1/1 + 1/2 + 1/3 + 1/4 hasta 1/100. Redonde a 5 decimales.

total = 0

for i in range(1,101):
    total = total + (1/i)
    
print(round(total,5))

5.18738

In [17]:
#Example 56. Sum of numbers. Encuentre el valor total de 1+2+3+ 4 hasta 100. 

total = 0
for i in range(1,101):
    total = total + i
print(total)

5050

In [18]:
#Example 57. Alphabetical order. Orden alfabetico Ingrese una palabra y asegurese de que este en orden alfabetico

palabra = input("Ingrese su palabra aqui: ")
primera_letra = ""
segunda_letra = ""
bandera = True

for letra in range(0,len(palabra) - 1):
    primera_letra = palabra[letra]
    segunda_letra = palabra [letra+1]
    if primera_letra > segunda_letra:
        bandera = False
        
if bandera:
    print ("La palabra esta ordenada alfabeticamente")
else:
    print("La palabra esta desordenada")

Ingrese su palabra aqui: dios
La palabra esta ordenada alfabeticamente

In [ ]:
# Alphabetical order. Ingrese una palabra y asegurese de que este en orden alfabetico

word = (input("Enter your word here: ")).lower()
#word_list = list(word)
#print(word_list)

for n in range(len(word)):
    if n == (len(word) - 1):
        print("Alphabetically ordered")
    else:
        if ord(word[n]) > ord(word[n+1]):
            print("Not alphabetically ordered")
            break

In [19]:
#Example 58: Vowel words.Determine si la palabra ingresada contiene todas las vocales

palabra = list(input("Ingrese su palabra aca: "))

for elementos in palabra:
    if "a" and "e" and "i" and "o" and "u" in palabra:
        bandera = True
    else:
        bandera = False
        
if bandera == True:
    print("Esta palabra tiene todas las vocales")

else:
    print("No tiene todas las vocales")

Ingrese su palabra aca: adriana
No tiene todas las vocales

In [20]:
#Example 59: Lifetime Earnings. Ingrese el nombre, edad y salario inicial de una persona.Asuma que la persona se retirara 
# a los 65 y que su salario incrementara 5% anual. Cuanto sera el dinero pagado acumulado?

nombre = input("Ingrese su nombre: ")
edad = int(input("Ingrese su edad: "))
deposito_mensual = int(input("Ingrese su salario inicial: "))

tiempo = int(65 - edad)

acumulado_balance_cuenta = 0

print("ano", "acumulado")

for i in range(1,tiempo+1):
    
    acumulado_balance_cuenta = (deposito_mensual) + (acumulado_balance_cuenta)
    
    deposito_mensual = (deposito_mensual) + (deposito_mensual*0.05)
    tiempo = tiempo + 1
    
    print(i,"  ",round(acumulado_balance_cuenta,1))

print("Cuando",nombre,"tenga 65 anos habran pasado",i, "anos, y habra acumulado",round(acumulado_balance_cuenta,1))

Ingrese su nombre: helen
Ingrese su edad: 25
Ingrese su salario inicial: 1000
ano acumulado
1    1000
2    2050.0
3    3152.5
4    4310.1
5    5525.6
6    6801.9
7    8142.0
8    9549.1
9    11026.6
10    12577.9
11    14206.8
12    15917.1
13    17713.0
14    19598.6
15    21578.6
16    23657.5
17    25840.4
18    28132.4
19    30539.0
20    33066.0
21    35719.3
22    38505.2
23    41430.5
24    44502.0
25    47727.1
26    51113.5
27    54669.1
28    58402.6
29    62322.7
30    66438.8
31    70760.8
32    75298.8
33    80063.8
34    85067.0
35    90320.3
36    95836.3
37    101628.1
38    107709.5
39    114095.0
40    120799.8
Cuando helen tenga 65 anos habran pasado 40 anos, y habra acumulado 120799.8

In [21]:
#Example 60. Simple vs compound interest. Interes simple vs interes compuesto

#Cuando se invierte 1000 $ al 5% interes simple, el monto crece 50$ cada ano. 
#Cuando se invierte 1000 $ al 5% interes compuesto anualmente, el monto es 1.05 veces el monto al inicio del ano.(1000+(1000 * 0.05))

#Muestre el monto de 4 anos cuando se invierte 1000$


inversion = 1000

print("ano",  "monto interes simple")

for i in range(1,5):
    inversion = inversion + 50
    print(i,inversion)
    i = i+1    

print("===============")

print("ano",  "monto interes compuesto")
inversion = 1000

for i in range(1,5):
    inversion = inversion + (inversion*0.05) 
    print(i,inversion)
    i = i+1

ano monto interes simple
1 1050
2 1100
3 1150
4 1200
===============
ano monto interes compuesto
1 1050.0
2 1102.5
3 1157.625
4 1215.50625

In [22]:
#Example 61. Car loan. Tengo un prestamo de 15 mil y quiero calcular la deuda anual. El carro se pagara en 5 anos y el pago
#mensual es de 290 dolares y el carro fue comprado en el ano 2013.

deuda = 15000
ano = 2012


print("ano", "monto que se debe")
for i in range(1,60):                            #loop es en meses, pagos y formulas son en meses
    
    deuda = (1.005*deuda) - (290)
    if i % 12 == 0:
        ano = ano + 1
        print(ano,round(deuda,2))
        
print(ano+1,"0.00")

ano monto que se debe
2013 12347.85
2014 9532.13
2015 6542.74
2016 3368.97
2017 0.00

In [23]:
#Example 62. Annuity. Muestre el ahorro que tendra al final de cada ano si deposita 100 dolares mensual y comienza en 
#Enero 2014.La tasa es del 3% compuesto mensual, por lo tanto la tasa de interes mensual es (0.03/12) = 0.0025

balance_en_cuenta = 0
ano = 2013


print("ano", "monto en la cuenta")
for i in range(1,72):                            #loop es en meses, pagos y formulas son en meses
    
    balance_en_cuenta = (1.0025*balance_en_cuenta) + (100)
    if i % 12 == 0:
        ano = ano + 1
        print(ano,round(balance_en_cuenta,2))

ano monto en la cuenta
2014 1216.64
2015 2470.28
2016 3762.06
2017 5093.12
2018 6464.67

In [24]:
#Example 63. Average grade. Ingrese 3 numeros y saque el promedio de los 2 mayores.

num_1 = eval(input("Ingrese el primer numero: "))
num_2 = eval(input("Ingrese el segundo numero: "))
num_3 = eval(input("Ingrese el tercer numero: "))
lista = [num_1,num_2,num_3]
print(lista)


for i in lista:
    arreglar = lista.sort()
    
lista_nueva = lista[1:3] 
print(lista_nueva)

print("Los 2 numeros mayores son: ", lista_nueva[0],"y",lista_nueva[1], "y el promedio de ellos es:", round(sum(lista_nueva)/2))

Ingrese el primer numero: 5
Ingrese el segundo numero: 3
Ingrese el tercer numero: 7
[5, 3, 7]
[5, 7]
Los 2 numeros mayores son:  5 y 7 y el promedio de ellos es: 6

In [25]:
#Example 64. Automobile depreciation

In [26]:
#Example 65. Supply and demand

In [27]:
#Example 66. Median

In [28]:
#Example 67. Salary options

In [29]:
#Example 68. Misleading percentages

In [30]:
#Example 69.Superbowl

In [31]:
#Example 70. Superbowl

In [32]:
#Example 71. Average grade

In [33]:
#Example 72. Average grade

In [34]:
#Example 73. Number of vowels

In [35]:
#Example 74. A Puzzle

In [36]:
#Example 75. Same birthday

In [37]:
#Example 76.Original U.S. States

In [38]:
#Example 77. Boston Accent

In [39]:
#Example 78. Special number

In [40]:
#Example 79. U.S. Presidents

In [41]:
#Example 80. U.S> presidents

In [42]:
#Example 81.odometer readings

In [43]:
#Example 82.Digit sum

In [44]:
#Example 83.Supreme court

In [45]:
#Example 84. Factorization. Calcula los numeros primos de un valor

N = eval(input("Ingresa un valor positivo mayor que 1: "))

for i in range(2,N+1):
    if (N % i == 0):
        isprime = 1
        for j in range(2,(i//2+1)):
            if(i % j == 0):
                isprime = 0
                break
        if(isprime == 1):
            print(" %d is a prime factor of a given number %d" %(i,N))

Ingresa un valor positivo mayor que 1: 56
 2 is a prime factor of a given number 56
 7 is a prime factor of a given number 56

In [46]:
#Ejemplo 23

#la tasa de interes anual compuesta mensualmente
#tasa de interes anual = 6% (o 0.06%)

# tasa de interes mensual = 0.06/12

#======
#Ejemplo 24

#tasa de interes anual, compuesta mensualmente = 3% (o 0.03%)
#tasa de interes mensual = 0.03/12


#======
#Ejemplo 25

#tasa de interes anual, compuesta mensualmente = 3.6% (o 0.036%)
#tasa de interes mensual = 0.036/12 ===> 0.003 que es 1.003*(balance end month) para representar (previous balance)+ 0.003(previous balance)

In [47]:
#Exercises 3.4

#1):
for i in range(7,11):
    print(i)

#2):
print("===")
for i in range(-11,-7):
    print(i)

#3):
print("===")
for i in range(2,14,3):
    print(i)

#4):
print("===")
for i in range(2010,2030,5):
    print(i)

#5):
print("===")
for i in range(6):
    print(i)

#6):
print("===")
for i in range(1):
    print(i)

#7):
print("===")
for i in range(11,7,-1):                               #Step en retroceso
    print(i)

#8):
print("===")
for i in range(12,2,-5):                               #Step en retroceso
    print(i)

7
8
9
10
===
-11
-10
-9
-8
===
2
5
8
11
===
2010
2015
2020
2025
===
0
1
2
3
4
5
===
0
===
11
10
9
8
===
12
7

In [48]:
#Exercises 9 al 16. Determina el rango que genera las siguientes secuencias

#9): 4,9,14,19

for i in range(4,20,5):
    print(i)

#10): 0,1,2,3
print("===")
for i in range(0,4):
    print(i)

#11): -21,-20-19,-18
print("===")
for i in range(-21,-17):
    print(i)

#12): 4,3,2,1
print("===")
for i in range(4,0,-1):              #Step en retroceso
    print(i)

#13): 20,17,14                      #Step en retroceso
print("===")
for i in range(20,13,-3):
    print(i)

#14): 7
print("===")
for i in range(7,8):
    print(i)

#14): 5, 4, 3, 2, 1, 0              #Step en retroceso
print("===")
for i in range(5,-1,-1):                             
    print(i)

#16): -5, -3, -1, 1       
print("===")
for i in range(-5,2,2):                             
    print(i)

4
9
14
19
===
0
1
2
3
===
-21
-20
-19
-18
===
4
3
2
1
===
20
17
14
===
7
===
5
4
3
2
1
0
===
-5
-3
-1
1