# Chapter 2 - Core Objects , Variables, Input and Output

#  2.1 Numbers

In [3]:
# Example 1. Arithmethic operations. The following program applies each of the five standard arithmetic operations. 
# [Run] indicatesthat the program should be executed (by pressing the F5) key or clicking the Run menu).. The lines after 
# [Run] show the output of the proram. In the evaluation of 2 * (3 + 4), the operation inside the parentheses was calculated
# first.(Expressions inside parentheses are always evaluated first)

print(3 + 2, 3 - 2, 3 * 2)
print(8 / 2, 8**2, 2 * (3 + 4))

5 1 6
4.0 64 14

In [4]:
# Example 2. Distance traveled. The following program uses the speed and the time elapsed to calculate the distance traveled.
# The names given to the values are called variables.The first line of the program is said to create(or declare) the 
# variable speed and to assign it to the value 50. Similarly, the second and third lines create and assign values to toher 
# variables.


speed = 50 
time_elapsed = 14 
distance = speed * time_elapsed
print(distance)

700

In [8]:
# Example 3.Functions. The following program evaluates each of the preceding three functions at an expression:

a = 2
b = 3

print(abs(1 - (4 * b)))
print(int((a**b) + .8))
print(round(a/b,3))

11
8
0.667

In [11]:
# Example 4. Augmented assignments. The following program illustrates the different augmented assignment operators

num1 = 6
num1 = num1 + 1

num2 = 7
num2 = num2 - 5

num3 = 8
num3 = num3 / 2
print(num1,num2,round(num3))

num1 = 1
num1 = num1 * 3

num2 = 2
num2 = num2 ** 3
print(num1,num2)

7 2 4
3 8

In [12]:
# Example 5. Convert lenghts. The following program convert 41 inches to 3 feeet and 5 inches.

total_inches = 41
feet = total_inches // 12
inches = total_inches % 12
print(feet,inches)

3 5

# 2.2 Strings

In [14]:
# Example 1: Indices. The following program illustrates the use of indices.
    
print("Python")
print("Python"[1],"Python"[5],"Python"[2:4])

str1 = "Hello World"
print(str1.find("W"))
print(str1.find("x"))
print(str1.rfind("l"))

Python
y n th
6
-1
9

In [15]:
# Example 2: Negative indices. The following program illustrates negative indices.
    
print("Python")
print("Python"[-1],"Python"[-4],"Python"[-5:-2])

str1 = "spam & eggs"
print(str1[-2])
print(str1[-8:-3])
print(str1[0:-1])

Python
n t yth
g
m & e
spam & egg

In [16]:
# Example 3: Default bonds. The following program illustrates default bounds.
    
print("Python"[2:],"Python"[:4],"Python"[:])
print("Python"[-3:],"Python"[:-3])

thon Pyth Python
hon Pyt

In [17]:
# Example 4:Parse a name. The following program requests a name from the user and then parses the name. When the program
# is run, the phrase "Enter a full name: " appears and execution of the program pauses. After the user types the words shown
# in black and presses the Enter (or return) key, the last two lines of output are displayed. 

full_name = input("Enter a full name: ") 
n = full_name.rfind(" ")
print("Last name: ", full_name[n+1:])
print("First name: ", full_name[:n])

Enter a full name: Adriana Hernandez
Last name:  Hernandez
First name:  Adriana

In [19]:
# Example 5:Illustrate functions. The following program illustrates the use of int, float an eval functions.

print(int("23"))
print(float("23"))
print(eval("23"))
print(eval("23.5"))

x = 5
print(eval("23 + (2 * x)"))

23
23.0
23
23.5
33

In [23]:
# Example 6:Parse a name. The following rewrite of Example 4 uses documentation.The first comment describes the entire
# program, the comment in the third line gives the meaning of a variable, and the final comment describes the purpose
# of the two lines that follow it.

#Break a name into two parts  -- the last name and the first names
full_name = input("Enter a full name: ") 
n = full_name.rfind(" ")

#Dsiplay the desired information
print("Last name: ", full_name[n+1:])    #Index of the space preceding the last name
print("First name: ", full_name[:n])

Enter a full name: Adriana Andreina Hernandez
Last name:  Hernandez
First name:  Adriana Andreina

# 2.3 Output

In [24]:
# Example 1: The following program demosntates the use of the escape sequences \t and \n


## Demonstrate use of escape sequences
print("01234567890123456")
print("a\tb\tc")
print("a\tb\tc".expandtabs(5))
print("Nudge, \tnudge, \nwink, \twink".expandtabs(11))

01234567890123456
a	b	c
a    b    c
Nudge,     nudge,
wink,      wink

In [26]:
# Example 2: Justifying output. The follwong program uses three justification methods to create a table of the top three
# home run hitters in professional baseball. The first line was added to identify the columns of the table. The first five
# columns (columns 0 through 4) list the ranks of the top three hitters. The numbers 1,2 and 3 are each centered in a field
# of width 5. The next 20 columns (columns 5 through 24) hold the names of the top three hitters, with each name left 
# justified in a field with 20. Each name is padded on the right with space characters. The last three columns(col 0 to 27)
# hold the number of home runs hit by the players. Since each of the numbers is three digits long, they exactly fill the
# field of width 3 set aside for them. The output for this column would be the same even if the rjust method was not used.



## Demonstrate  justification of output
print("0123456789012345678901234567")
print("Rank".ljust(5),"Player".ljust(20),"HR".rjust(3), sep ="")
print("1".center(5), "Barry Bonds".ljust(20), "762". rjust(3), sep = "")
print("2".center(5), "Hank Aaron".ljust(20), "755". rjust(3), sep = "")
print("3".center(5), "Babe Ruth".ljust(20), "714". rjust(3), sep = "")

0123456789012345678901234567
Rank Player               HR
  1  Barry Bonds         762
  2  Hank Aaron          755
  3  Babe Ruth           714

In [27]:
# Example 3:Justifying output. The following program produces the same output as Example 2, but using the format method. 
# Consider the fourth line. The formatting braces {0:^5n}, {1:<20s} and {2:>3n} determine the formatting of the number 1,
# the string "Barry Bonds" and the number 762, respectively.


## Demonstrate justification of output
print("0123456789012345678901234567")
print("{0:^5s}{1:<20s} {2:>3s}".format("Rank", "Player", "HR"))
print("{0:^5n}{1:<20s} {2:>3n}".format(1, "Barry Bonds", 762))
print("{0:^5n}{1:<20s} {2:>3n}".format(2, "Hank Aaron", 755))
print("{0:^5n}{1:<20s} {2:>3n}".format(3, "Babe Ruth", 714))

0123456789012345678901234567
Rank Player                HR
  1  Barry Bonds          762
  2  Hank Aaron           755
  3  Babe Ruth            714

In [28]:
# Example 4:State Data. The following program demonstrates the use of placing curly braces inside a string.
       
    
## Demonstrate use of the format method.    
print("The area of {0:s} is {1:,d} square miles".format("Texas", 268820))
str1 = "The population of {0:s} is {1:0.2%} of the U.S population"
print(str1.format("Texas", 26448000/309000000))

The area of Texas is 268,820 square miles
The population of Texas is 8.56% of the U.S population

# 2.4 Lists, Tuples, and Files - An introduction

In [30]:
# Example 1. Grades. The following program requests five grades as input and displays the average after dropping the two 
# lowest grades. The grades are placed into the list grades, the twolowest gardes are removed from the list, and the sum
# and len functions are used to calculate the average of the remaining grades.

## Calculate average of grades.


#Create the variable grades and assign it to an empty list
grades = []  


# Acquire all the numbers and send them to the list.
num  = float(input("Enter the first grade: "))   
grades.append(num)

num  = float(input("Enter the second grade: "))
grades.append(num)

num  = float(input("Enter the third grade: "))   
grades.append(num)

num  = float(input("Enter the fourth grade: "))
grades.append(num)

num  = float(input("Enter the fifth grade: "))
grades.append(num)


#Find 2 lowest grades and rmove them from the list
minimum_grade = min(grades)
grades.remove(minimum_grade)

minimum_grade = min(grades)
grades.remove(minimum_grade)

#Calculate average
average = sum(grades) / len(grades)
print("Average grade: {0:.2f}".format(average))

Enter the first grade: 89
Enter the second grade: 77
Enter the third grade: 82
Enter the fourth grade: 95
Enter the fifth grade: 81
Average grade: 88.67

In [32]:
# Example 2. The split method. The following statements each display the list["a","b","c"]

print("a,b,c".split(","))
print("a**b**c".split("**"))
print("a\nb\nc".split())
print("a b c".split())

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

In [38]:
# Example 3. The join method. The following program shows how the join method can be used to display the items from a list
# of strings.


line = ["To", "be", "or", "not", "to", "be."]
print(" ".join(line))
krispies = ["Snap", "Crackle", "Pop"]
print(", ".join(krispies))

To be or not to be.
Snap, Crackle, Pop

In [39]:
# Example 4. Tuple Functions.The following program shows that tuples have several of the same functions as list

t = 5, 7, 6, 2
print(t)
print(len(t),max(t),min(t),sum(t))
print(t[0],t[-1],t[:2])

(5, 7, 6, 2)
4 7 2 20
5 2 (5, 7)

In [41]:
# Example 5. Swap values. The following program swaps the values of two variables. In essence, the third line of the of the
# program is assigning the tuple(6,5) to the tuple(x,y)

x = 5
y = 6
x , y = y , x
print(x, y)

6 5

In [43]:
# Example 6. U.S regions. The list regions contains four tuples, with each tuple giving the name and 2010 population
# (in millions) of a region of the United States. The following program displays the 2010 population of the Midwest and
# calculates the 2010 population of the United States.


regions = [("Northeast",55.3),("Midwest",66.9),("South",114.6),("West",71.9)]
print("The 2010 population of the", regions[1][0], "was",regions[1][1] , "millions")

total_population = regions[0][1] + regions[1][1] + regions[2][1] + regions[3][1] 


print("The total 2010 population of the US was: {0:.1f} million".format(total_population))

The 2010 population of the Midwest was 66.9 millions
The total 2010 population of the US was: 308.7 million